<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
<div id="solve_quadratic_equation">
    <form>
        <label>
            a
            <input type="number" name="a" value="">
        </label>
        <label>
            b
            <input type="number" name="b" value="">
        </label>
        <label>
            c
            <input type="number" name="c" value="">
        </label>
        <hr>
        <button id="solve_quadratic_equation_button">Рассчитать</button>
    </form>
    <p>X1: </p>
    <div id="x1"></div>
    <p>X2: </p>
    <div id="x2"></div>
</div>
</body>
</html>
